@font-face {
  font-family: BabyDoll;
  src: url(fonts/BabyDoll.ttf);
}

@font-face {
  font-family: Pixelade;
  src: url(fonts/Pixelade.ttf);
}

body {
  background-image: url(images/eggtimer_bg.PNG);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#backBtn {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

#backBtn img {
  width: 30px;
  height: 30px;
  margin-bottom: 1em;
}

.nav-wrapper {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4.25%;
}

#navH1 {
  font-family: BabyDoll;
  font-size: 2em;
  color: var(--gold);
}

.button {
  border: none;
  background: none;
  transition: 0.25s;
}

.button:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.button img {
  width: 150px;
}

#headingCtn {
  display: flex;
  margin-left: 65px;
  margin-top: 35px;
  font-family: BabyDoll;
  font-size: 1.35em;
}

#homeTitle {
  display: flex;
  margin-top: 10%;
  font-family: BabyDoll;
  font-size: 4.5em;
  color: var(--gold);
  text-shadow:
    -2.5px -2.5px 0 var(--dark-red),
     2.5px -2.5px 0 var(--dark-red),
    -2.5px  2.5px 0 var(--dark-red),
     2.5px  2.5px 0 var(--dark-red);
}

.menuButton {
  border: none;
  background: none;
  transition: 0.25s;
}

.menuButton:hover {
  transform: scale(1.35);
  cursor: pointer;
}

#menupageCtn, #startpageCtn, #timerpageCtn, #endpageCtn {
  display: none;
}

#menuTitle {
  font-family: BabyDoll;
  font-size: 3em;
  margin-top: 5%;
  color: var(--gold);
  text-shadow:
    -2.5px -2.5px 0 var(--dark-red),
     2.5px -2.5px 0 var(--dark-red),
    -2.5px  2.5px 0 var(--dark-red),
     2.5px  2.5px 0 var(--dark-red);
}

#sunnysideBtn img {
  width: 120px;
}

#hardboiledBtn img {
  width: 115px;
}

#softboiledBtn img {
  width: 105px;
}

#scrambledBtn img {
  width: 125px;
}

.gap-x-6 {
  column-gap: 6rem;
}

.gap-x-9 {
  column-gap: 9rem;
}

#sunnysideH2, #hardboiledH2, #softboiledH2, #scrambledH2 {
  font-family: Pixelade;
  font-size: 1.5em;
}

#eggImgStart {
  width: 135px;
  margin-top: 1.5%;
}

#startTitle {
  font-family: BabyDoll;
  font-size: 3em;
  margin-top: 8%;
  color: var(--gold);
  text-shadow:
    -2.5px -2.5px 0 var(--dark-red),
     2.5px -2.5px 0 var(--dark-red),
    -2.5px  2.5px 0 var(--dark-red),
     2.5px  2.5px 0 var(--dark-red);
}

#timerTitle {
  font-family: BabyDoll;
  font-size: 3em;
  margin-top: 8%;
  color: var(--gold);
  text-shadow:
    -2.5px -2.5px 0 var(--dark-red),
     2.5px -2.5px 0 var(--dark-red),
    -2.5px  2.5px 0 var(--dark-red),
     2.5px  2.5px 0 var(--dark-red);
}

#chickAnimation {
  width: 135px;
  margin-top: 1.5%;
}

#timer {
  font-family: Pixelade;
  font-size: 8.5em;
  margin-top: -2%;
  color: var(--black);
  text-shadow:
    -1px -1px 0 var(--black),
     1px -1px 0 var(--black),
    -1px  1px 0 var(--black),
     1px  1px 0 var(--black);
}

#endTitle {
  font-family: BabyDoll;
  font-size: 3em;
  margin-top: 8%;
  color: var(--gold);
  text-shadow:
    -2.5px -2.5px 0 var(--dark-red),
     2.5px -2.5px 0 var(--dark-red),
    -2.5px  2.5px 0 var(--dark-red),
     2.5px  2.5px 0 var(--dark-red);
}

.endImg {
  width: 135px;
  margin-top: 1.5%;
  display: none;
}